<!--The content below is only a placeholder and can be replaced.-->
<!-- <div>
  <select>
    <option value="people">People</option>
    <option value="ships">Ships</option>
    <option value="films">Films</option>
  </select>

  <form>
    Search<input type="text" name="search"><br>
    <input type="submit" value="Submit">
  </form> -->
<div>  
  <app-results></app-results>
</div>



<!-- <input (keyup)="search($event.target.value)" id="name" placeholder="Search"/>

<ul>
  <li *ngFor="let package of packages$ | async">
    <b>{{package.name}} v.{{package.version}}</b> -
    <i>{{package.description}}</i>
  </li>
</ul> -->